<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>DI Examples</span>
  </mat-toolbar-row>
</mat-toolbar>
<section class="mat-typography">
<ul>
  <li>
    Provider Object Literal - <pre>provider_Object_Literal</pre> branch
  </li>
  <li>
    ProvidedIn - <pre>providedIn</pre> branch
  </li>
  <li>
    Aliased class providers - <pre>aliased_class_providers</pre> branch
  </li>
  <li>
    Value provider - <pre>value_provider</pre> branch
  </li>
  <li>
    Non-class dependencies - <pre>non_class_dependencies</pre> branch
  </li>
  <li>
    Factory provider - <pre>factory_provider</pre> branch
  </li>
  <li>
    Optional dependencies - <pre>optional_dependencies</pre> branch
  </li>
  <li>
    Injecting injector - <pre>injecting_injector</pre> branch
  </li>
  <li>
    Static injector - <pre>static_injector</pre> branch
  </li>
</ul>
</section>
